/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey';*/
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey';
@import "~@angular/material/theming";
@import "src/theming.scss";

@include mat-core;

.side-nav-content {
    height: 100%;
}

.swiper-button-white {
    background-color: mat-color($primary);
    width: 60px;
    height: 60px;
    margin-top: -30px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: mat-color($primary) !important;
}

.swiper-slide {
    background-repeat: round;

    .content {
        opacity: 0;
    }
}

.swiper-slide.ng-lazyloaded {
    -webkit-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out;

    .content {
        opacity: 1;
    }
}

.landing {
    height: 90vh;
}

.header {
    width: 100%;
    padding: 0 !important;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    line-height: 1.28;
    color: #ffffff;

    .content {
        text-align: left;
        padding: 25px;
        margin: 0 auto;
        color: white;
        width: 100%;

        .description {
            font-size: 20px;
            color: #e3e3e3;
        }

        .body-info-container {
            font-family: 'Montserrat';
            font-size: 10px;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            margin-top: 20px;

            .info {
                margin-right: 25px;

                md-icon {
                    vertical-align: middle;
                    opacity: 0.3;
                    margin-right: 10px;
                    height: 100%;
                }
            }

            .info-category {
                text-transform: uppercase;
                border-bottom: 1px solid #cecece;
                display: flex;
                align-items: center;
                margin: 0;
            }

            .remaining-space {
                flex: 1 1 auto;
            }
        }
    }
}

.category-timeline-container:nth-child(odd) {
    background: rgba(233, 233, 233, 0.5);
}

.category-timeline-container:nth-child(even) {
    background: #fafafa;
}

.headline-title {
    margin: 50px 100px 0 50px;

    .active {
        font-size: 30px;
        color: mat-color($primary);
    }

    span {
        &:hover {
            cursor: pointer;
        }
    }

    .type-container {
        padding-left: 40px;
        border-bottom: 2px solid #dfdfdf;
        margin: 0 -5px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 400px) {
    .content {
        h3 {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1120px) {
    .landing {
        md-grid-tile {
            .header {
                .content {
                    font-size: 20px;

                    .description {
                        font-size: 12px;
                    }
                }
            }

            // .header-1,
            // .header-2 {
            //   .content {
            //     font-size: 15px;
            //     .body-info-container {
            //       left: 5px;
            //       right: 5px;
            //       .info {
            //         md-icon {
            //           margin-right: 0px;
            //           font-size: 15px;
            //         }
            //       }
            //     }
            //   }
            // }
       
        }
    }
}
