<app-swiper></app-swiper>
<div class="container articles-container" *ngIf="publishedArticles && publishedArticles.length > 0">
  <div class="search-results" fxLayout='row wrap'
      infiniteScroll
      debounce
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()">
    <div fxFlex fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%" style="padding: 20px;" *ngFor="let article of infiniteArticles">
      <md-card class="article-card" style="height: 100%; position: relative;">
        <md-card-header>
          <div md-card-avatar class="author-image">
            <img [src]="article.author ? 'https://cdn.auth0.com/avatars/' + article.author[0].toLowerCase() + '.png' : 'https://cdn.auth0.com/avatars/m.png'" alt="avatar" style="width: 100%; border-radius: 50%;">
          </div>
          <md-card-title md-line>{{article.title}}</md-card-title>
          <md-card-subtitle md-line>{{article.date | date:'medium' || 'Mercury Crew'}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image [src]="article.header_image ? article.header_image : 'http://www.bluthemes.com/assets/img/blog/12/balloon.jpg'">
        <md-card-content style="margin-bottom: 50px;">
          <p>
            {{article.description}}
          </p>
        </md-card-content>
        <md-card-actions style="position: absolute; bottom: 24px; left: 0; right: 0; margin: auto;">
          <button md-button color="primary" [routerLink]="[article._id]" style="margin-left: 16px;">READ MORE</button>
          <button md-icon-button class="pull-right" shareButton="twitter" style="margin-right: 16px;"><md-icon>share</md-icon></button>
          <button md-icon-button class="pull-right" (click)="toggleBookmark(article._id)"><md-icon>{{ idList.includes(article._id) ? 'favorite' : 'favorite_border' }}</md-icon></button>
        </md-card-actions>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
  <!-- End here-->
  <div fxLayout='row wrap' class="row-loading" *ngIf="!isFinish">
    <div fxFlex fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%" style="padding: 20px;">
      <md-card class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
    <div fxFlex fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%" style="padding: 20px;">
      <md-card class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
    <div fxFlex fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%" style="padding: 20px;" class="col-md-4 col-sm-6 dynamic-col">
      <md-card class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
</div>
<div class="container-notfound" *ngIf="!publishedArticles || publishedArticles.length == 0">
  <div class="wrapper">
    <img class="notfound-img" src="assets/images/not-found.png" />
    <p class="notfound-text">Opps! There is no article yet.</p>
    <p class="notfound-text">Keep calm and go back again.</p>
    <p class="notfound-text"> 💔 💔 💔 </p>
  </div>
</div>
