/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey';*/

// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey';
@import '~@angular/material/theming';
@import 'src/theming.scss';
@include mat-core();
#header-title,
.category-button {
  font-family: 'Montserrat', 'Roboto', sans-serif
}

/deep/ .mat-input-ripple {
  background-color: white !important; 
}

/deep/ .mat-input-underline {
  border-color: white;
}

.user-card {
  background-color: white;
  .username-text {
    color: black;
  }
  .email-text {
    color: black;
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.remaining-space {
  flex: 1 1 auto;
}

.menu-btn {
  margin-bottom: 2px;
}

.notifications-count {
  display: flex;
  width: 15px;
  height: 15px;
  position: absolute;
  background: royalblue;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}

.notifications-icon, .personal-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-sidenav {
  width: 300px;
  md-nav-list {
    md-list-item {
      a {
        &:hover {
          text-decoration: none;
        }
        outline: none;
        text-decoration: none
      }
      button {
        color: mat-color($primary);
      }
    }
  }
}

md-toolbar /deep/ .mat-toolbar-layout {
  margin: auto;
  width: 100%;
}

.nav-category-section {
  display: none !important;
}

.tb-category-section {
  display: block !important;
}

@media only screen and (max-width: 960px) {
  .nav-category-section {
    display: block !important;
  }

  .tb-category-section {
    display: none !important;
  }
}